MLFLOW_VERSION=3.13.0

POSTGRES_DB=mlflow
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=<very_very_secure_password>

MLFLOW_FLASK_SERVER_SECRET_KEY=<very_secure_password>

MLFLOW_ADMIN_USERNAME=<username>
MLFLOW_ADMIN_PASSWORD=<secure_password>

MLFLOW_SERVER_ALLOWED_HOSTS=*
MLFLOW_SERVER_CORS_ALLOWED_ORIGINS=*

MLFLOW_ARTIFACTS_DIR=/path/to/desired/mlflow/artifacts
